*{
margin: 0;
padding: 0;
font-family: sans-serif;
box-sizing: border-box;
}
body{
background-color: #111;
}
.begin{ 
display: flex;
flex-direction: column;
width: 350px;
margin: 100px 500px;
position: absolute;
margin-top: 600px;
@media(max-width: 920px){
margin-left: 300px;
}
@media(max-width: 711px){
margin-left: 150px;
}
@media(max-width: 559px){
margin-left: 80px;
}
}
main{
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
position: relative;
}
.house{
position: absolute;
width: 50px;
margin-right: 1200px;
cursor: pointer;
@media(max-width: 1162px){
margin-left: 250px;
}
@media(max-width: 1008px){
margin-left: 400px;
}
 
@media(max-width: 854px){
margin-left: 580px;
width: 50px;
padding: 5px;
}
 
@media(max-width: 665px){
margin-left: 650px;
width: 30px;
padding: 5px;
}
 
@media(max-width: 574px){
margin-left: 700px;
width: 30px;
padding: 5px;
}
 
@media(max-width: 520px){
margin-left: 750px;
width: 30px;
padding: 5px;
}
 
@media(max-width: 470px){
margin-left: 760px;
width: 30px;
padding: 5px;
}
 
@media(max-width: 462px){
margin-left: 770px;
width: 30px;
padding: 5px;
}
 
 
@media(max-width: 456px){
margin-left: 850px;
width: 30px;
padding: 5px;
}
 
@media(max-width: 410px){
width: 30px;
margin-left: 860px;
margin-bottom: 20px;
}
    


}

.msgbegin{
color: red;
font-size: 22px;
width: 500px;
display: flex;
margin-left: -50px;
margin-bottom: 20px;
font-weight: 700;
@media(max-width: 497px){
font-size: 15px;
}
@media(max-width: 348px){
font-size: 10px;
}

}
.imgcel{
display: flex;
margin-bottom: 30px;
@media(max-width:497px){
width: 200px;
}
@media(max-width:348px){
width: 100px;
}


}

.imgstart{
width: 200px;
margin-left: 80px;
cursor: pointer;
@media(max-width:497px){
width: 150px;
margin-left: 30px;

@media(max-width:348px){
width: 80px;
margin-left: 500px;
}
}

}
.canvas{
background-color: #222;
margin: -8px auto;
display: none;
align-items: center;
justify-content: center;
@media(max-width: 1162px){
width: 300px;
}
@media(max-width: 409px){
width: 300px;


}

}
header{
color: white;
display: none;
align-items: center;
justify-content:center;
margin-top: 80px;
background-color: rgba(255,255,255,0.8);
max-width: 600px;
width: 100%;
margin: 20px auto;
padding: 2px;
border-radius: 5px;

@media(max-width: 1162px){
max-width: 400px;
}
@media(max-width: 1162px){
max-width: 200px;
}
@media(max-width: 409px){
max-width: 300px;
font-size: 15px;
}


}
.time{
font-size: 22px;
margin-top: 4px;
display: flex;
align-items: center;
}
.tim{
font-size: 22px;
display: flex;

}
header span{
display: flex;
align-items: center;
justify-content: center;
color: red;
}
h4{
    display: flex;
align-items: center;
}
.final{
display: none;
position: absolute;
align-items: center;
flex-direction: column;
justify-content: center;
left: 0;
right: 0;
top: 250px;
bottom: 0;
background-color: black;
opacity: 0.6;
color: wheat;
}
.over{
margin-bottom: -80px;
}
.final span{
margin-top: 20px;
font-size: 40px;
display: flex;
flex-direction: column;
}
.spanfinal{
display: flex;
align-items: center;
justify-content: center;
margin-top: -5000px;
font-size: 25px;
}
.resete{
width: 100px;
position: absolute;
margin-left: 850px;
cursor: pointer;
transition: transform 0.5;
}
.resete:hover{
transform: scale(1.30);


}
.houseover{
margin-bottom: 400px;

}
